.header {
    grid-area: h;
    background-color: greenyellow;
  }
  .header img {
    width: 20px;
  }
  .loginBlock {
    float: right;
    background-color: aliceblue;
    height: 200px;
    display: block;
    width: 200px;
    border: 3px color red;
    position: relative;
    z-index: 500;
  }